body {
    font-family: "Times New Roman", serif;
    text-align: center;
    background: linear-gradient(to bottom, #DAA520, #8B4513);
    
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: left; /* Alinea el título a la izquierda */
    padding-left: 20px; /* Agrega un espacio a la izquierda */
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#image-container {
    margin-top: 20px;
}
#result-container {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
#hojas-image {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    display: block;
}
#hojas-name {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
}
#similar-hojas {
    font-size: 18px;
    margin-top: 10px;
}
input[type="file"] {
    display: none;
}
label {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}
label:hover {
    background-color: #0056b3;
}