/* body {
    font-family: "Times New Roman", serif;
    text-align: center;
    background: #d4f3ac;
    margin: 0;
    padding: 0;
} */

h1{
    font-family: 'Audiowide', sans-serif;
}
.font-effect-neon {
    color: #007700; /* Cambia este código de color a tu verde oscuro deseado */
     /* Establece la fuente Audiowide */
    position: relative;
    letter-spacing: 3px; 
    
  }

#results{
    font-family: 'Trirong',serif;
    font-size: 24px;
    font-weight: bold;
    color: #207688;
    text-shadow: 3px 3px 3px #ababab;
    margin-top: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


#container-files{
    background-color: #f0f0f0a7; /* Cambia el color de fondo del contenedor principal */
    padding: 10px; /* Agrega espaciado interno al contenedor */
    border: 1px solid #ccc; /* Agrega un borde al contenedor */
    width: auto;
    max-width: 800px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    text-align: center;
    margin-top: 50px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Estilo para los recuadros con borde */
.border {
    border: 1px solid #343131; /* Agrega un borde a los recuadros con borde */
    padding: 10px; /* Agrega espaciado interno a los recuadros con borde */
    margin-bottom: 10px; /* Agrega espacio entre los recuadros con borde */
}


#image-container {
    margin-top: 20px;
}
#result-container {
    margin-top: 20px;
    /*background-color: rgba(255, 255, 255, 0.807);*/
    padding: 20px;
    border-radius: 10px;
}

/*
--------------------------------------------------
*/
#hojas-image {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    display: block;
}



/*
input[type="file"] {
    display: none;
}
label {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}
label:hover {
    background-color: #0056b3;
}
*/

/*nuevas clases pala los inputs files para que funcione responsiva la app*/

.input-group {
    margin-top: 10px;
}

/* .form-control-input {
    cursor: pointer;
} */

/* .label-custom-file-input {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.label-custom-file-input:hover {
    background-color: #0056b3;
} */