/* Estilo de la barra de navegación */
/* .navbar {
    background-color: #3a9e3a; 
    z-index: 1;
  } */
  /* Color de fondo */
  
  .navbar-brand {
    color: #238314; /* Color del texto del logotipo */
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* Color de los enlaces en la barra de navegación */
  }
  
  .navbar-toggler-icon {
    background-color: #524c4c; /* Color del ícono del botón de menú desplegable */
  }

/* Estilos para la navbar verde */
.navbar-verde {
  background-color: #3a9e3a; /* Cambia esto al color verde que prefieras */
}  
  